body{
  background-color: lightblue;
  font-family: base-font-family;
  color: #222;

  margin: 0;
}

h1{
  font: 40px bold Georgia,Tahoma,serif;
}

.container{
  width: 80%;
  margin:auto;
}

.Form{
  background-color: pink;
  border: 5px yellow solid;
  padding: 0px;
}

.Form p{
  font: 20px Tahoma, serif;
  padding: 3px;
}

.Button{
  background-color: green;
}