
{% extends "base.html" %}

    
    


<body>

    {% block content %}

    <center><h1>Input desired location (City, State(abbreviated))</h1></center>
    <form action="" method="post" novalidate>
        <center><p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {{ form.csrf_token }}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p></center>
        <center><p>
            {{ form.state.label }}<br>
            {{ form.state(size=2) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p></center>
        <center><p>{{ form.submit() }}</p></center>
    </form>



    {% with messages = get_flashed_messages() %}
    {% if messages %}

    
    



    {% for message in messages %}
      
    <center><h3> {{message}}</h3></center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
    

</body>

</html>
