
{% extends "base.html" %}

    
    


<body>

    {% block content %}

    <center><h1>Average Rent Finder</h1></center>
    <center><h2>Find the rent of any North American City!</h2></center>
    <div class="container">
    <div class="Form">
    <form action="" method="post" novalidate>
        <center><p>
            {{ form.city.label }}</p>
            {{ form.city(size=32) }}<br>
            {{ form.csrf_token }}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p></center>
        <center><p>
            {{ form.state.label }}</p>
            {{ form.state(size=2) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
        </p></center>

    
    <center>{{ form.submit() }}</center>
    </form>
    



    {% with messages = get_flashed_messages() %}
    {% if messages %}

    
    



    {% for message in messages %}
      
    <center><h3> {{message}}</h3></center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
    

</body>

</html>
