
{% extends "base.html" %}

    
    

</head>
<body>

    {% block content %}

    <h1>Input desired location (City, State(abbreviated))</h1>
    <form action="" method="post" novalidate>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=2) }}<br>
            {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>



    {% with messages = get_flashed_messages() %}
    {% if messages %}

    
    



    
      
    <h3>The average rent for an apartment is : {{messages}}</h3>

    {% endif %}
    {% endwith %}
    {% endblock %}
    

</body>

</html>
